<h3 [class.text-red] = "bool">Component</h3>

<h3 [style.color]=" bool ? 'red' : 'blue' ">Style Binding</h3>

<p>{{message}}</p>

<app-navbar>Navbar Component</app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receiveMessage($event)'></app-post>
<p>{{fromChildOutput}}</p>

<img src="{{imgUrl}}" alt="">
<img [src]="imgUrl" alt="">

<button (click)='buttonClick()'>Click</button>

<!-- Event filtering in normal js -->
<!-- <input type="text" (keyup)="onKeyUp($event)"> -->

<!-- <input type="text" (keyup.enter)="onKeyUp(username.value)" #username> -->
<input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyUp()">